<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>408844877840-rk2husc65cov4k6oos7tbasielhsutnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408844877840-rk2husc65cov4k6oos7tbasielhsutnm</string>
	<key>API_KEY</key>
	<string>AIzaSyAAaF_i8d5_EkpAZvIq9Pqz_mJ3ywmQSho</string>
	<key>GCM_SENDER_ID</key>
	<string>408844877840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SLY.StoryMakers</string>
	<key>PROJECT_ID</key>
	<string>story-makers-4faff</string>
	<key>STORAGE_BUCKET</key>
	<string>story-makers-4faff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408844877840:ios:81a4b79b4c7817b9</string>
	<key>DATABASE_URL</key>
	<string>https://story-makers-4faff.firebaseio.com</string>
</dict>
</plist>